/* SHOW PAGE FOR ADVERT */

.show--img {
    max-width: 100% !important;
    height: auto!important;
    padding: 0 29px;
}

.show--card__map-icon {
    color: green;
}


.show--card__advertiser-description {
    padding: 37px;
}

.show--card--sidebar {
    width: 100%;
}

.show--card--message-button {
    margin-top: 40px;
    width: 100%;
    font-size: 1em;
    padding: 15px;
    outline: 0;
}

.fa-6 {
    font-size: 4em;
}
