/* SHOW PAGE FOR ADVERT */

.show--img {
    max-width: 100% !important;
    height: auto!important;
    padding: 0 29px;
}

.show--card__map-icon {
    color: green;
}


.show--card__advertiser-description {
    padding: 37px;
}
